@page
@model EnterpriseCarDealership.Pages.CRUDManager.IndexManagerModel
@{
}
<table>
     <thead>
            <tr>
                <th> <form asp-page-handler ="Id" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">ID </button>
                        </div>
                    </div> 
                    </form>
                </th>
                
                <th> <form asp-page-handler ="Name" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Name </button>
                        </div>
                    </div> 
                    </form>
                </th>
               
                <th> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Password </button>
                        </div>
                    </div> 
                    
                </th>
               
                <th> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Medarbejder </button>
                        </div>
                    </div> 
                    
               
                <th> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Administrator </button>
                        </div>
                    </div> 
                    
                </th>
      
            <th>
                <form asp-page-handler="tlf" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">tlf </button>
                        </div>
                    </div>
                </form>
            </th>
            </tr>
            </thead>
    <tbody>
        @if (Model.managers.Count == 0)
        {
            <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.managers)
            {
                <tr>
                    <td>@s.NextId</td>
                    <td>@s.Name</td>
                    <td>@s.Password</td>
                    <td>@s.IsMedarbejder</td>
                    <td>@s.IsAdmin</td>
                    <td>@s.Tlf</td>
                    <td><form asp-page-handler="Delete" asp-route-id="@s.NextId"><button type="submit"  class="btn btn-primary">Delete Manager </button></form></td>
                    <td><a asp-page="UpdateManager" asp-route-id="@s.NextId" >Update Manager </a></td>
                </tr>
            }
        }
    </tbody>
</table>