@page
@model EnterpriseCarDealership.Pages.CRUDCarBooking.IndexCarBookingModel
@{
}
<table>
    <thead>
        <tr>
            <th>
                <form asp-page-handler="Id" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">ID </button>
                        </div>
                    </div>
                </form>
            </th>
        <tr>
            <th>
                <form asp-page-handler="StartTime" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">StartTime </button>
                        </div>
                    </div>
                </form>
            </th>
        <tr>
            <th>
                <form asp-page-handler="EndTime" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">EndTime </button>
                        </div>
                    </div>
                </form>
            </th>
        <tr>
            <th>
                <form asp-page-handler="KundeId" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Kunde ID </button>
                        </div>
                    </div>
                </form>
            </th>
        <tr>
            <th>
                <form asp-page-handler="CarId" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Car ID </button>
                        </div>
                    </div>
                </form>
            </th>    
            </tr>
            </thead>
    <tbody>
        @if (Model.carBookings.Count == 0)
        {
            <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.carBookings)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.StartTime</td>
                    <td>@s.EndTime</td>
                    <td>@s.KundeId</td>
                    <td>@s.CarId</td>
                    
                    <td><form asp-page-handler="Delete" asp-route-id="@s.Id"><button type="submit" class="btn btn-primary">Delete Car Booking </button></form></td>
                    <td><a asp-page="UpdateCarBooking" asp-route-id="@s.Id">Update Car Booking </a></td>
                </tr>
            }
        }
    </tbody>
</table>