@page
@model EnterpriseCarDealership.Pages.CRUDBikeBooking.IndexBikeBookingModel
@{
}
<table>
    <thead>
        <form asp-page-handler="Sort" class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">View List</button>
                </div>
            </div>
        </form>
    </thead>
    <thead>
        <tr>
            <th>
                <form asp-page-handler="Id" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">ID </button>
                        </div>
                    </div>
                </form>
            </th>
        
            <th>
                <form asp-page-handler="StartTime" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">StartTime </button>
                        </div>
                    </div>
                </form>
            </th>
        
            <th>
                <form asp-page-handler="EndTime" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">EndTime </button>
                        </div>
                    </div>
                </form>
            </th>
        
            <th>
                <form asp-page-handler="KundeId" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Kunde ID </button>
                        </div>
                    </div>
                </form>
            </th>
     
            <th>
                <form asp-page-handler="BikeId" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Bike ID </button>
                        </div>
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.bikeBookings.Count == 0)
        {
                <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.bikeBookings)
            {
                        <tr>
                            <td>@s.Id</td>
                            <td>@s.StartTime</td>
                            <td>@s.EndTime</td>
                            <td>@s.KundeId</td>
                            <td>@s.BikeId</td>

                            <td><form asp-page-handler="Delete" asp-route-id="@s.Id"><button type="submit" class="btn btn-primary">Delete Bike Booking </button></form></td>
                            <td><a asp-page="UpdateBikeBooking" asp-route-id="@s.Id">Update Bike Booking </a></td>
                        </tr>
            }
        }
    </tbody>
</table>