@page
@model EnterpriseCarDealership.Pages.CRUDBike.IndexBikeModel
@{
}
<table>
    <thead>
        <tr>
            <th>
                <form asp-page-handler="Id" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Id</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="Brand" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Brand</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="Type" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Type</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="MaxPris" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">MaxPris</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>
     
    <thead>
        <tr>
            <th>
                <form asp-page-handler="MiniumPris" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">MinimumPris</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="Year" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Year</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="Km" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Km</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="SideBike" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">SideBike</button>
                        </div>
                    </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="LeatherSdlle" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">LeatherSdlle</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                <form asp-page-handler="ExtraStorage" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">ExtraStorage</button>
                    </div>
                </div>
                </form>
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.bikes.Count == 0)
        {
            <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.bikes)
            {
                <tr>
                    <td>@s.NextId</td>
                    <td>@s.Brand</td>
                    <td>@s.Type</td>
                    <td>@s.PrisPrDag</td>
                    <td>@s.Year</td>
                    <td>@s.Km</td>
                    <td>@s.Sidebike</td>
                    <td>@s.LeatherSddle</td>
                    <td>@s.ExtraStorage</td>
                    <td><form asp-page-handler="Delete" asp-route-id="@s.NextId"><button type="submit" class="btn btn-primary">Delete Bike </button></form></td>
                    <td><a asp-page="UpdateBike" asp-route-id="@s.NextId">Update Bike </a></td>
                </tr>
            }
        }
    </tbody>
</table>