@page
@model EnterpriseCarDealership.Pages.CRUDMedarbejder.IndexMedarbejderModel
@{
}
<table>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <form asp-page-handler="NextId" class="form-horizontal" method="post">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Id</button>
                                </div>
                            </div>
                        </form>
                    </th>


                    <th>
                        <form asp-page-handler="Name" class="form-horizontal" method="post">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Name</button>
                                </div>
                            </div>
                        </form>
                    </th>
                    <th>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Password</button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Medarbejder</button>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Admin</button>
                            </div>
                        </div>
                    </th>


                    <th>
                        <form asp-page-handler="Tlf" class="form-horizontal" method="post">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Tlf</button>
                                </div>
                            </div>
                        </form>
                    </th>

                    <th>
                        <form asp-page-handler="Adress" class="form-horizontal" method="post">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Adress</button>
                                </div>
                            </div>
                        </form>
                    </th>

                     <th>
                        <form asp-page-handler="ManagerId" class="form-horizontal" method="post">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">ManagerId</button>
                                </div>
                            </div>
                        </form>
                    </th>

                </tr>
            </thead>
    <tbody>
        @if (Model.medarbejders.Count == 0)
        {
            <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.medarbejders)
            {
                <tr>
                    <td>@s.NextId</td>
                    <td>@s.Name</td>
                    <td>@s.Password</td>
                    <td>@s.IsMedarbejder</td>
                    <td>@s.IsAdmin</td>
                    <td>@s.Tlf</td>
                    <td>@s.Adress</td>
                    <td>@s.ManagerId</td>

                    <td><form asp-page-handler="Delete" asp-route-id="@s.NextId"><button type="submit" class="btn btn-primary">Delete Medarbejder </button></form></td>
                    <td><a asp-page="UpdateMedarbejder" asp-route-id="@s.NextId">Update Medarbejder </a></td>
                </tr>
            }
        }
    </tbody>
</table>