@page
@model EnterpriseCarDealership.Pages.CRUDKunder.IndexKundeModel
@{
}
<div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <form asp-page-handler="NextId" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Id</button>
                        </div>
                    </div>
                </form>
            </th>


            <th>
                <form asp-page-handler="Name" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Name</button>
                        </div>
                    </div>
                </form>
            </th>

            <th>
                <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Password</button>
                        </div>
                </div>
            </th>

            <th>
                <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">IsMedarbejder</button>
                        </div>
                </div>
            </th>

            <th>
                <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">IsAdmin</button>
                        </div>
                </div>
            </th>

            <th>
                <form asp-page-handler="Tlf" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Tlf</button>
                        </div>
                    </div>
                </form>
            </th>

            <th>
                <form asp-page-handler="Adress" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Adress</button>
                        </div>
                    </div>
                </form>
            </th> 
        </tr>
    </thead>

    <tbody>
        @if (Model.kunder.Count == 0)
        {
            <p>Empty list</p>
        }
        else
        {
            foreach (var s in Model.kunder)
            {
                <tr>
                    <td>@s.NextId</td>
                    <td>@s.Name</td>
                    <td>@s.Password</td>
                    <td>@s.IsMedarbejder</td>
                    <td>@s.IsAdmin</td>
                    <td>@s.Tlf</td>
                    <td>@s.Adress</td>
                    <td><form asp-page-handler="Delete" asp-route-id="@s.NextId"><button type="submit" class="btn btn-primary">Delete Kunde </button></form></td>
                    <td><a asp-page="UpdateKunde" asp-route-id="@s.NextId">Update Kunde </a></td>
                </tr>
            }
        }
    </tbody>
</table>
</div>